@use "../abstracts" as *;

.header {
	@include content-spacing;
	height: max-content;
	height: var(--header-height);
	display: flex;
	justify-content: space-between;
	max-width: 100%;
	display: flex;
	align-items: center;
	z-index: 9999;
	position: sticky;
	top: 0;
}

.logo {
	max-height: 2.5rem;
	margin-inline-end: 1rem;
	&:hover {
		cursor: pointer;
	}
}

.header-start,
.header-end {
	display: flex;
	align-items: center;
}
.header-start {
	.links {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
	}
	.link {
		color: $color-system-invert-2-dimmed;
		font-size: var(--font-size-01);
		font-weight: 600;
		transition: color ease-in-out 0.25s;
		&:hover {
			color: $color-system-invert-1-full;
		}
	}
}
.header-end {
	button {
		margin-inline-start: 0.5rem;
	}
}

.expand-button {
	display: none;
}
