@use "../abstracts" as *;

.header {
    @include content-spacing;
    height: max-content;
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    display: flex;
    align-items: center;
    background: $color-system-1-full;
    box-shadow: $shadow-box;
    height: $header-height;
    z-index: 9999;
    position: sticky;
    top: 0;
}

.logo {
    max-height: 2.5rem;
    margin-inline-end: 1rem;
}

.header-start,
.header-end {
    display: flex;
    align-items: center;
}
.header-start {
    button {
        margin-inline-end: 0.5rem;
    }
    margin-inline-end: 0.5rem;
    .link {
        color: $color-system-invert-2-dimmed;
        font-size: $font-size-2-regular;
        font-weight: 600;
        margin-inline-end: 1rem;
        transition: color ease-in-out 0.25s;
        &:hover{
            color: $color-system-invert-1-full;
        }
    }
}
.header-end {
    button {
        margin-inline-start: 0.5rem;
    }
}

.expand-button {
    display: none;
}
