@use "./vars" as *;

.show {
    display: inline-block !important;
}
.hide {
    display: none !important;
}

.hidden-on-mobile {
    @media screen and (max-width: $screen-md) {
        display: none !important;
    }
}

.shown-on-mobile {
    @media screen and (min-width: $screen-md) {
        display: none !important;
    }
}
.hidden-on-tablet {
    @media screen and (max-width: $screen-lg) {
        display: none !important;
    }
}

.shown-on-tablet {
    @media screen and (min-width: $screen-lg) {
        display: none !important;
    }
}
.hidden-on-web {
    @media screen and (max-width: $screen-xl) {
        display: none !important;
    }
}

.shown-on-web {
    @media screen and (min-width: $screen-xl) {
        display: none !important;
    }
}

@mixin svg-in-button {
    svg {
        fill: $color-system-1-full;
        fill-opacity: 0.6;
        transition: fill-opacity ease-in-out 0.25s;
        &:hover {
            fill-opacity: 1;
        }
    }
}
@mixin svg-in-button-invert {
    svg {
        fill-opacity: 0.8;
        fill: $color-system-invert-1-full;
    }
}
hr {
    border: 0;
    border-top: 1px solid $color-system-3-dim;
    width: 100%;
    margin: 0;
}

button {
    position: relative;
}

@mixin strong-btn {
    color: $color-system-invert-1-full;
    background: $color-system-1-full;
    border-radius: $border-radius;
    box-shadow: $shadow-box;
    font-weight: 600;
    padding: .7em 1em;
    transition: box-shadow ease-in-out 0.15s, transform ease-in-out 0.35s;
    &:hover {
        box-shadow: $shadow-box-hover;
        transform: translateY(-1px);
    }
    &:active,
    &:focus {
        box-shadow: $shadow-box-focus;
    }
    &:active{
        transform: unset;
    }
}
.strong-btn {
    @include strong-btn;
}
.strong-btn-invert{
    @include strong-btn;
    color: $color-system-1-full;
    background: $color-system-invert-1-full;

}

.regular-button {
    @include state-regular;
    font-size: $font-size-1-small;
    font-weight: 600;
    height: 2.5rem;
    color: $color-system-1-full;
    padding: 0 4rem;
    align-self: center;
}
@mixin button-weak  {
    display: flex;
    align-items: center;
    font-size: $font-size-1-small;
    border-radius: $border-radius;
    height: 2.5rem;
    padding: 0 1em;
    align-self: center;
    background-color: $color-system-4-weak;
    color: $color-system-1-full;
    @include svg-in-button;
    transition: box-shadow ease-in-out 0.15s, background-color ease-in-out 0.35s;
    &:hover {
        background-color: $color-system-3-dim;
    }
    &:active,
    &:focus {
        box-shadow: $shadow-box-focus;
    }
    .start-icon {
        margin-inline-end: 0.25em;
    }
    .end-icon {
        margin-inline-start: 0.25em;
    }
}
.button-weak {
    @include button-weak;
}
.button-weak-invert {
    @include button-weak;
    @include svg-in-button-invert;
    background: $color-system-invert-4-weak;
    color: $color-system-invert-1-full;
    &:hover {
        background: $color-system-invert-3-dim;
    }
}
.button-icon {
    padding: 0 0.5rem;
}
