@use "./vars" as *;

.show {
	display: inline-block !important;
}
.hide {
	display: none !important;
}

.hidden-on-mobile {
	@media screen and (max-width: $screen-md) {
		display: none !important;
	}
}

.shown-on-mobile {
	@media screen and (min-width: $screen-md) {
		display: none !important;
	}
}
.hidden-on-tablet {
	@media screen and (max-width: $screen-md) {
		display: none !important;
	}
}

.shown-on-tablet {
	@media screen and (min-width: $screen-md) {
		display: none !important;
	}
}
.hidden-on-web {
	@media screen and (min-width: $screen-md) {
		display: none !important;
	}
}

.shown-on-web {
	@media screen and (min-width: $screen-xl) {
		display: none !important;
	}
}

hr {
	border: 0;
	border-top: 1px solid $color-system-3-dim;
	width: 100%;
	margin: 0;
}

button {
	position: relative;
}

.button-weak {
	@include state-weak;
	svg {
		fill: $color-system-1-full;
	}
}
.button-weak-semi-invert {
	@include state-weak-invert;
}

.button-weak-invert {
	@include state-weak-invert;
	svg {
		fill: $color-system-invert-1-full;
	}
}
.button-regular {
	@include state-regular;
	@include button-spacing;
}
.button-regular-invert {
	@include state-regular;
	@include button-spacing;
}
.button-strong {
	@include state-strong;
	@include button-spacing;
}
.button-strong-invert {
	@include state-strong;
	@include button-spacing;
	color: $color-system-1-full;
	background: var(--color-system-invert-10);
}

.button-icon {
	padding: 0 0.5rem;
}
.button-just-icon {
	padding: 0.25rem;
}

.color-system {
	color: $color-system-1-full;
}
.color-system-invert {
	color: $color-system-invert-1-full;
}

//! Button size

[title~="button-2xs"] {
	font-size: 0.5em;
}
[title~="button-xs"] {
	font-size: 1em;
}
[title~="button-sm"] {
	font-size: 0.8em;
}
[title~="button-md"] {
	font-size: 1em;
}