@use "./vars" as *;

.show {
	display: inline-block !important;
}
.hide {
	display: none !important;
}

.hidden-on-mobile {
	@media screen and (max-width: $screen-md) {
		display: none !important;
	}
}

.shown-on-mobile {
	@media screen and (min-width: $screen-md) {
		display: none !important;
	}
}
.hidden-on-tablet {
	@media screen and (max-width: $screen-md) {
		display: none !important;
	}
}

.shown-on-tablet {
	@media screen and (min-width: $screen-md) {
		display: none !important;
	}
}
.hidden-on-web {
	@media screen and (min-width: $screen-md) {
		display: none !important;
	}
}

.shown-on-web {
	@media screen and (min-width: $screen-xl) {
		display: none !important;
	}
}

hr {
	border: 0;
	border-top: 1px solid $color-system-3-dim;
	width: 100%;
	margin: 0;
}

button {
	position: relative;
}

.button-weak {
	@include state-weak;
	svg {
		fill: $color-system-1-full;
	}
}
.button-weak-invert {
	@include state-weak;
	svg {
		fill: $color-system-invert-1-full;
	}
	background: $color-system-invert-4-weak;
	color: $color-system-invert-1-full;
	&:hover {
		background: $color-system-invert-3-dim;
	}
}
.button-regular {
	@include state-regular;
	@include button-spacing;
}
.button-regular-invert {
	@include state-regular;
	@include button-spacing;
}
.button-strong {
	@include state-strong;
	@include button-spacing;
}
.button-strong-invert {
	@include state-strong;
	@include button-spacing;
	color: $color-system-1-full;
	background: $color-system-invert-1-full;
}

.button-icon {
	padding: 0 0.5rem;
}
