@use "./vars" as *;

.wrapper {
    margin: 0 auto;
} 

.content {
    height: 100%;
    display: grid;
	grid-template-rows: 1fr;
	min-height: 100vh;
	min-height: -webkit-fill-available; // mobile viewport hidden footer fix
}