@use "./vars" as *;

$font-family--body: "Inter", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, Arial, sans-serif;
$font-family--title: "Montserrat", Georgia, serif;
$font-family--code: "Source Code Pro", Consolas, Monaco, "Andale Mono";
$font-family--hand: "Permanent Marker", Brush Script MT;

$font-weight--light: 200;
$font-weight--normal: 400;
$font-weight--bold: 600;
$font-weight--bolder: 800;

:root {
	--base-font-size: 16px;
	@media screen and (min-width: $screen-2xl) {
		--base-font-size: 20px;
	}
	@media screen and (min-width: $screen-xl) and (max-width: $screen-2xl){
		--base-font-size: 18px;
	}
	@media screen and (max-width: $screen-md) {
		--base-font-size: 14px;
	}
	@media screen and (max-width: $screen-sm) {
		--base-font-size: 12px;
	}
	--font-size-00: calc(var(--base-font-size) * 0.75);
	--font-size-01: calc(var(--base-font-size) * 0.875);
	--font-size-02: var(--base-font-size);
	--font-size-03: calc(var(--base-font-size) * 1.125);
	--font-size-04: calc(var(--base-font-size) * 1.25);
	--font-size-05: calc(var(--base-font-size) * 1.5);
	--font-size-06: calc(var(--base-font-size) * 2);
	--font-size-07: calc(var(--base-font-size) * 2.5);
	--font-size-08: calc(var(--base-font-size) * 3);
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// @supports (font-variation-settings: normal) {
//     html,
//     body {
//         font-family: "Inter var", sans-serif;
//     }
// }

html,
body {
	font-size: var(--base-font-size);
	color: $color-system-1-full;
	font-family: $font-family--body;
	font-weight: $font-weight--normal;
	line-height: 1.2;
	cursor: default;
}

//  Font weight
// ------------------------
strong,
.bold {
	font-weight: $font-weight--bold !important;
}
.bolder {
	font-weight: $font-weight--bolder !important;
}
.dimmed {
	opacity: 0.7;
}
.smaller {
	font-size: 80%;
}

h6,
h5,
h4,
h3,
h2,
h1 {
	font-family: $font-family--title;
	line-height: 1.05;
}
p,
a,
button {
	font-family: $font-family--body;
	font-size: var(--font-size-02);
	line-height: 1;
}
a {
	text-decoration: none;
	color: $color-link;
	cursor: pointer;
	&.disable,
	&:disabled {
		pointer-events: none;
	}
}

.router-link-active {
	font-weight: $font-weight--bold;
	text-decoration: underline;
}

.body-2xs,
.body-xs,
.body-sm,
.body-md,
.body-lg,
.body-xl,
.body-2xl,
.body-3xl {
	font-family: $font-family--body;
}
.body-2xs {
	font-size: var(--font-size-00);
}
.body-xs {
	font-size: var(--font-size-01);
}
.body-sm {
	font-size: var(--font-size-03);
}
.body-md {
	font-size: var(--font-size-04);
}
.body-lg {
	font-size: var(--font-size-05);
}
.body-xl {
	font-size: var(--font-size-06);
}
.body-2xl {
	font-size: var(--font-size-07);
}
.body-3xl {
	font-size: var(--font-size-08);
}

.title-xs,
.title-sm,
.title-md,
.title-lg,
.title-xl,
.title-2xl,
.title-3xl {
	font-weight: $font-weight--bold;
	font-family: $font-family--title;
	color: white;
}
.title-xs {
	font-size: var(--font-size-01);
}
.title-sm {
	font-size: var(--font-size-03);
}
.title-md {
	font-size: var(--font-size-04);
}
.title-lg {
	font-size: var(--font-size-05);
}
.title-xl {
	font-size: var(--font-size-06);
}
.title-2xl {
	font-size: var(--font-size-07);
}
.title-3xl {
	font-size: var(--font-size-08);
}

//! Weights

.f-weight-light {
	font-weight: $font-weight--light;
}
.f-weight-normal {
	font-weight: $font-weight--normal;
}
.f-weight-bold {
	font-weight: $font-weight--bold;
}
.f-weight-bolder {
	font-weight: $font-weight--bolder;
}

//!

.f-family-hand {
	font-family: $font-family--hand;
}

.text-center {
	text-align: center;
}
