@use "./vars" as *;

// -----------------------------------------------------------------------------
// Typography style - This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@import url("./fonts/Inter/inter.css");
@import url("./fonts/Montserrat/montserrat.css");


$font-family--body: "Inter", -apple-system, system-ui, BlinkMacSystemFont,
    "Segoe UI", Roboto, Arial, sans-serif;
$font-family--title: "Montserrat", Georgia, serif;
$font-family--code: "Source Code Pro", Consolas, Monaco, "Andale Mono";

$font-weight--normal: 400;
$font-weight--bold: 600;
$font-weight--bolder: 900;

* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

@supports (font-variation-settings: normal) {
    html,
    body {
        font-family: "Inter var", sans-serif;
    }
}

html,
body {
    color: $color-system-1-full;
    font-family: $font-family--body;
    font-weight: $font-weight--normal;
    font-size: $font-size;
    line-height: 1.2;
    cursor: default;
}

//  Font weight
// ------------------------
strong,
.bold {
    font-weight: $font-weight--bold !important;
}
.bolder {
    font-weight: $font-weight--bolder !important;
}
.dimmed {
    opacity: 0.7;
}
.smaller {
    font-size: 80%;
}

h6,
h5,
h4,
h3,
h2,
h1 {
    font-family: $font-family--title;
    line-height: 1.15;
}
p,
a, 
button {
    font-family: $font-family--body;
}
p {
    font-size: $font-size-2-regular;
    line-height: 1.25;
}

a {
    text-decoration: none;
    color: $color-link;
    cursor: pointer;
    &.disable,
    &:disabled {
        pointer-events: none;
    }
}

.title-1-xs {
    font-weight: 600;
    font-size: $font-size-2-regular;
}
.title-2-sm {
    font-weight: 600;
    font-size: $font-size-3-big;
}
.title-4-lg {
    font-weight: 700;
    font-size: $font-size-7-Xlarge;
    color: white;
    line-height: 1.1em;
    @media screen and (max-width: $screen-lg) {
        font-size: $font-size-6-Xlarge;
    }
    @media screen and (max-width: $screen-sm) {
        font-size: $font-size-7-Xlarge;
    }
}

.body-2xs {
    font-size: $font-size-0-smaller;
}
.body-xs {
    font-size: $font-size-1-small;
}
.body-sm {
    font-size: $font-size-3-big;
}
.body-md {
    font-size: $font-size-4-bigger;
}
.body-lg {
    font-size: $font-size-5-large;
}
.body-xl {
    font-size: $font-size-6-Xlarge;
}
.body-2xl {
    font-size: $font-size-7-Xlarge;
}

// .title-xs {
//     font-size: 16px;
// }
// .title-sm {
//     font-size: 20px;
// }
// .title-md {
//     font-size: 24px;
// }
// .title-lg {
//     font-size: 28px;
// }
// .title-xl {
//     font-size: 32px;
// }
// .title-2xl {
//     font-size: 40px;
// }
