//! Layouts
$screen-2xl: 1464px;
$screen-xl: 1280px;
$screen-lg: 960px;
$screen-md: 768px;
$screen-sm: 576px;
$screen-xs: 480px;

@mixin content-spacing {
	padding-left: 2rem;
	padding-right: 2rem;
	@media screen and (max-width: $screen-lg) {
		padding: 0 1.5rem;
	}
	@media screen and (max-width: $screen-md) {
		padding: 0 1rem;
	}
}
@mixin content-gap {
	grid-gap: 2rem;
	@media screen and (max-width: $screen-lg) {
		grid-gap: 1.5rem;
	}
	@media screen and (max-width: $screen-md) {
		grid-gap: 1rem;
	}
}

//! Shadows
$shadow-box-focus-hover: 0 0 0 4px rgba(23, 102, 166, 0.25), 00 2px 4px rgba(0, 0, 0, 0.04),
	0 4px 8px rgba(0, 0, 0, 0.06), 0 8px 16px rgba(0, 0, 0, 0.08);
$shadow-box-focus: 0 0 0 4px rgba(23, 102, 166, 0.25);
$shadow-box-soft: 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.04);
$shadow-box-soft-hover: 0 2px 4px rgba(0, 0, 0, 0.04), 0 4px 8px rgba(0, 0, 0, 0.08);
$shadow-box: 0 2px 4px rgba(0, 0, 0, 0.02), 0 4px 8px rgba(0, 0, 0, 0.04), 0 8px 16px rgba(0, 0, 0, 0.08);
$shadow-box-hover: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.12), 0 8px 16px rgba(0, 0, 0, 0.16);
$shadow-box-hard: 0 2px 4px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.16), 0 8px 16px rgba(0, 0, 0, 0.24);

//! Colors
$color-system-1-full: rgb(10, 10, 10);
$color-system-2-dimmed: rgba(10, 10, 10, 0.7);
$color-system-3-dim: rgba(10, 10, 10, 0.25);
$color-system-4-weak: rgba(10, 10, 10, 0.08);

$color-system-invert-1-full: rgb(256, 256, 256);
$color-system-invert-2-dimmed: rgba(256, 256, 256, 0.7);
$color-system-invert-3-dim: rgba(256, 256, 256, 0.25);
$color-system-invert-4-weak: rgba(256, 256, 256, 0.08);

$color-primary: #1a1a1a;
$color-success: green;
$color-caution: red;
$color-link: #1766a6;
$color-link-active: #0f0e69;

//! Grad
@mixin linear-gradient($deg, $clr, $int, $end) {
	background: linear-gradient($deg, rgba($clr, $int) 0%, rgba($clr, 0) $end);
}

//! Interface Size
:root {
	--header-height: 4rem;
}
$header-height: var(--header-height);
$border-radius: 0.25em;
$box-height: 160px;
$box-height-overlay: 40px;

//! Text Size
$font-size: 16px;

$font-size-0-smaller: 0.75rem;
$font-size-1-small: 0.875rem;
$font-size-2-regular: 1rem;
$font-size-3-big: 1.125rem;
$font-size-4-bigger: 1.25rem;
$font-size-5-large: 1.5rem;
$font-size-6-Xlarge: 2rem;
$font-size-7-Xlarge: 2.5rem;
$font-size-8-Xlarge: 3rem;

// ! State styles
@mixin hover-anim {
	transition: box-shadow ease-in-out 0.15s, transform ease-in-out 0.35s;
	&:hover {
		transform: translateY(-1px);
	}
	&:active {
		transform: unset;
	}
}
@mixin inline($color: $color-system-2-dimmed, $width: 1px, $style: solid) {
	position: relative;
	// 👆 Requires parent element to be 'position: relative;'
	&:after {
		z-index: 0;
		content: "";
		transition: all 0.25s; // same as 'pep-btn' @mixin
		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		border-radius: inherit;
		border: $width $style $color;
	}
}

@mixin button-spacing {
	padding: 0.7em 1em;
}

@mixin state-weak {
	display: flex;
	align-items: center;
	font-size: $font-size-1-small;
	border-radius: $border-radius;
	height: 2.5rem;
	padding: 0 1em;
	align-self: center;
	background-color: $color-system-4-weak;
	color: $color-system-1-full;
	transition: box-shadow ease-in-out 0.15s, background-color ease-in-out 0.35s;
	&:hover {
		background-color: $color-system-3-dim;
	}
	&:active,
	&:focus {
		box-shadow: $shadow-box-focus;
	}
	.start-icon {
		margin-inline-end: 0.25em;
	}
	.end-icon {
		margin-inline-start: 0.25em;
	}
}
@mixin state-weak-invert {
	background-color: $color-system-invert-3-dim;
	border-radius: $border-radius;
	transition: background-color ease-in-out 0.25s, box-shadow ease-in-out 0.125s;
	&:hover {
		background-color: $color-system-invert-2-dimmed;
	}
	&:active,
	&:focus {
		box-shadow: $shadow-box-focus;
	}
}

@mixin state-regular {
	@include inline;
	@include hover-anim;
	font-size: $font-size-1-small;
	background: white;
	border-radius: $border-radius;
	box-shadow: $shadow-box-soft;
	transition: all ease-in-out 0.15s;
	&:hover {
		@include inline($color-system-1-full);
		box-shadow: $shadow-box-soft-hover;
	}
	&:active,
	&:focus {
		border: 1px solid $color-system-1-full;
		box-shadow: $shadow-box-focus;
	}
}
@mixin state-strong {
	@include hover-anim;
	font-size: $font-size-1-small;
	color: $color-system-invert-1-full;
	background: $color-system-1-full;
	border-radius: $border-radius;
	box-shadow: $shadow-box;
	font-weight: 600;
	// transition: box-shadow ease-in-out 0.15s, transform ease-in-out 0.35s;
	&:hover {
		box-shadow: $shadow-box-hover;
		// transform: translateY(-1px);
	}
	&:active,
	&:focus {
		box-shadow: $shadow-box-focus;
	}
	// &:active {
	// 	transform: unset;
	// }
}
@mixin clickable-image-base {
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	background-color: white;
	cursor: pointer;
	box-shadow: 0;
	border-radius: $border-radius;
	transition: box-shadow ease-in-out 0.2s, transform ease-in-out 0.3s;
	&:hover {
		box-shadow: $shadow-box-hover;
		transform: scale(1.015);
	}
	&:active,
	&:focus {
		box-shadow: $shadow-box-focus-hover;
	}
}

@mixin hidden-on($size) {
	@media screen and (max-width: $size) {
		display: none !important;
	}
}

@mixin shown-on($size) {
	@media screen and (min-width: $size) {
		display: none !important;
	}
}
